<!DOCTYPE html>
<html>
<head>
	<title>subjects</title>
	
</head>
<body>


<h1>subjects</h1>

<ul>
<% @subjects.each do |subject| %>
<li><%= subject.name %>
<% end %>
</ul>

<a href="/subjects/new"><button id="add">add subject</button></a>

<form action="/subjects/search" method="post" id="search">
	<input type="text" id="search" name="search">
	<input type="submit" >
</form>

<a href="../main">back</a>


</body>
</html>