<!DOCTYPE html>
<meta charset=”utf-8”> 
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>

<div class ="navbar navbar-inverse navbar-static-top">
<div class="container">
      <div class=".navbar-header">
      <a href="main" class = "navbar-brand">School</a>
      </div>
      <ul class = " nav navbar-nav navbar-right">
            <li><a href="subjects">Subjects</a></li>
             <li><a href="courses">Courses</a></li>
              <li><a href="professors">Professors</a></li>
          </ul>
      </div>
      
</div>
<div class="container">
<h1>Subjects</h1>

<table class="table table-striped">

<% @subjects.each do |subject| %>
<tr><td><%= subject.name %></td></tr>
<% end %>

</table>

<a href="/subjects/new"><button class="btn btn-default"id="add">add subject</button></a>




</div>

</body>
</html>