<!DOCTYPE html>
<meta charset=”utf-8”> 
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>

<div class ="navbar navbar-inverse navbar-static-top">
<div class="container">
      <div class=".navbar-header">
      <a href="../main" class = "navbar-brand">School</a>
      </div>
      <ul class = " nav navbar-nav navbar-right">
            <li><a href="../subjects">Subjects</a></li>
             <li><a href="../courses">Courses</a></li>
              <li><a href="../professors">Professors</a></li>
          </ul>
      </div>
      
</div>
<div class="container">
<h1>Add subject</h1>
	

	<form action="/subjects" method="post">
		Name:<br>
		<input type="text"  id="name" name="subject[name]"><br>
		
		<br>
		<button class="btn btn-default" type="submit">Add</button>
	</form>
	<br>

</body>
</html>