<!DOCTYPE html>
<html>
<head>
	<title>Add a professor</title>
	
</head>
<body>
<h1>Add a professor</h1>
	

	<form action="/professors" method="post">
		Name:<br>
		<input type="text"  id="name" name="professor[name]"><br>
		
		<br>
		<input type="submit" value="add!">
	</form>
	<br>

</body>
</html>